<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="Titulo"> Doar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="Conteudo animate__animated animate__fadeInLeft">
    <ion-card (click)="doarAlimentos()">
      <ion-item>
        <ion-thumbnail slot="start">          
          <img src="assets/images/DoaComida.png"/>
        </ion-thumbnail>
        <ion-label>Alimentos</ion-label>
      </ion-item>
    </ion-card>

    <ion-card (click)="doarRoupas()">
      <ion-item>
        <ion-thumbnail slot="start">          
          <img src="assets/images/DoaRoupa.png"/>
        </ion-thumbnail>
        <ion-label>Roupas</ion-label>
      </ion-item>
    </ion-card>

    <ion-card (click)="doarSangue()">
      <ion-item>
        <ion-thumbnail slot="start">          
          <img src="assets/images/DoaSangue.png"/>
        </ion-thumbnail>
        <ion-label>Sangue</ion-label>
      </ion-item>  
    </ion-card>  
  </div>
  
</ion-content>
