<!-- https://www.youtube.com/watch?v=gEVYAdwDHwg -->
<!-- www.google.com/maps/search/?api=1&query= -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="Titulo"> Página Inicial </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="Conteudo animate__animated animate__fadeInLeft">
    <img class="Img-Item" src="assets/images/Doacao.jpg"/>
    <p>
      Existem pessoas precisando muito da sua ajuda!<br><br>
      Veja abaixo como doar.
    </p>
        
    <ion-card [routerLink]="['/tabs/tab2']">
      <ion-item>
        <ion-thumbnail slot="start">          
          <img src="assets/images/Doar.jpg"/>
        </ion-thumbnail>
        <ion-label>Realizar uma doação</ion-label>
      </ion-item>
    </ion-card>

    <ion-card [routerLink]="['/tabs/tab3']">
      <ion-item>
        <ion-thumbnail slot="start">          
          <img src="assets/images/Receber.jpg"/>
        </ion-thumbnail>
        <ion-label>Solicitar uma doação</ion-label>
      </ion-item>
    </ion-card>

  </div>
</ion-content>
