<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="Titulo"> Receber Doações </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="Conteudo animate__animated animate__fadeInleft">
    <img src="assets/images/AbracoImage.jpg"/>
  
    <p class="Titulo">
      Está precisando de ajuda?<br>
      Podemos te ajudar!<br>
      Preencha os campos e fale com um voluntário.
    </p>
    
    <form [formGroup]="form" (submit)="enviar()">
      <ion-item>
        <ion-label position="floating">Nome Completo</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Endereço</ion-label>
        <ion-input type="text" formControlName="endereco"></ion-input>
      </ion-item>
      <ion-button [disabled]="form.invalid || form.pending" expand="block" type="submit">
        Salvar
      </ion-button>
    </form>

  </div>
</ion-content>
